* {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flexbox;
  justify-content: center;
  text-align: center;
}

canvas {
  width: 1000px;
  height: 10000px;
  // max-width: 100%;
  border: 1px solid red;
}
